@font-face {
   font-family: 'ProductSans-Light';
   font-display: swap;
   src: url('file:///C:/Users/sandr/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-19_170540/fonts/ProductSans-Light/font.ttf');
}
