@font-face {
   font-family: 'Arvo-Regular';
   font-display: swap;
   src: url('file:///C:/Users/sandr/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-19_170540/fonts/Arvo-Regular/font.ttf');
}
